<h1>Sign Up</h1>
  <ul>

  <% unless @user.nil? %>
    <% @user.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  <% end %>
  
  </ul>

<%= form_with model: @user do |f| %>
<ul>    
    <li>
        <%= f.text_field :name %>
        <%= f.submit %>
    </li>    
</ul>
<% end %>
